<html>
    <head>
        <meta charset="utf-8">
        <title>Recruiter Template</title>
    </head>
    <body>
        <H3>Hi {{Name}},</H3>

        <h5>Thankyou for reaching me out for {{Role}} At {{Organization}}. 
           Here I am attaching my resume for your reference and my professional details.
        </h5>
        <H5> I am Pavan Sai Padavala, a 2023 graduate passionate in 
            Software Development with strong expertise in MERN Stack.<br><br>
            And also, composing blogs & articles to showcase my deep 
            knowledge in software development therby to build my professional branding.
            <br>
            <br>
            Have a look at my blog site: <a href="https://webdevexplain.hashnode.dev/" >WebDevExplain</a>
        </H5>

        {{#if Social}}
            <h5>Looking forward to connect further with you on your <a href={{Social}}>Linkedin</a></h5>
        {{/if}}
        {{#if Contact}}
            <h5>And Stay tuned to receive your call({{Contact}})... Have a nice day </h5>
        {{/if}}

        <h5 style="text-align: center;">Thanking you</h5>
        <p>Regards,</p>
        <p>P.Pavan Sai, <br> 8332078948</p>
    </body>
</html>